.wordrobe {
  width: 300px;
  height: 600px;
  border: 1px solid black;
  position: absolute;
  right: 50px;
  top: 50px;
  overflow-y: scroll;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  display: flex;
  width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product > img {
  display: block;
  height: 100%;
  width: 100%;
}
