.wordrobe {
  width: 300px;
  height: 600px;
  border: 1px solid black;
  position: absolute;
  right: 50px;
  top: 50px;
  overflow-y: scroll;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  display: flex;
  width: calc(100% / 3);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product > img {
  display: block;
  height: 100%;
  width: 100%;
}

select:nth-of-type(1) {
  width: 100%;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 0px;
}

select:nth-of-type(2) {
  width: 100%;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 30px;
}

button {
  width: 100%;
  position: relative;
  height: 30px;
  left: 0;
  margin-top: 60px;
}
